{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<h2>Antal kort: {{ deck_count }}</h2>

{% for card in deck %}
    {% if card.rank != "Joker" %}
    <i class="card-sprite {{ card.colour }}{{ card.rank }}"></i>
    {% endif %}
    {% if card.rank == "Joker" %}
        <img src="{{ asset("img/Joker.JPG") }}" width="135px" height="180px" alt="kort">
    {% endif %}
{% endfor %}

{% endblock %}
