{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p><a href="{{ link_to_card_deck }}">Sortera kortlek</a></p>
<p><a href="{{ link_to_card_shuffle }}">Återställ kortlek och blanda</a></p>
<p><a href="{{ link_to_card_draw }}">Dra ett kort ur kortleken</a></p>
<p><a href="{{ link_to_card_deck2 }}">Återställ kortlek, blanda och lägg till två jokrar</a></p><br>
<form class="form_user" method="post" action="/card/deck/draw/number">
    <p>
        <label><b>Dra ett antal kort:</b></label><br>
        <input type="text" name="number" value="" Required>
        <input type="submit" value="Dra">
    </p>
</form><br>
<form class="form_user" method="post" action="/card/deck/deal/toplayers">
    <p>
        <label><b>Dra ett antal kort till ett antal spelare:</b></label><br>
        <p>Antal kort:</p>
        <input type="text" name="cards" value="" Required>
        <p>till antal spelare:</p>
        <input type="text" name="players" value="" Required><br>
        <input type="submit" value="Ge">
    </p>
</form><br>

<h2>Json</h2>
<p><a href="{{ link_to_card_api }}">Sortera kortlek</a></p>
<p><a href="{{ link_to_card_api_shuffle }}">Återställ kortlek och blanda</a></p>
<p><a href="{{ link_to_card_api_draw }}">Dra ett kort ur kortleken</a></p>
<form class="form_user" method="post" action="/card/api/deck/draw/number">
    <p>
        <label><b>Dra ett antal kort:</b></label><br>
        <input type="text" name="number" value="" Required>
        <input type="submit" value="Dra">
    </p>
</form><br>
<form class="form_user" method="post" action="/card/api/deck/deal/toplayers">
    <p>
        <label><b>Dra ett antal kort till ett antal spelare:</b></label><br>
        <p>Antal kort:</p>
        <input type="text" name="cards" value="" Required>
        <p>till antal spelare:</p>
        <input type="text" name="players" value="" Required><br>
        <input type="submit" value="Ge">
    </p>
</form><br>

{% endblock %}
