{% extends "base.html.twig" %}

{% block title %}Players{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<h2>Kort kvar: {{ cards_left }}</h2>

{% for player in all_players %}

    <h3>Player {{ player.getPlayerId }}</h3>

    {% for card in player.getCards %}
    <i class="card-sprite {{ card.colour }}{{ card.rank }}"></i>
    {% endfor %}
    
{% endfor %}

{% endblock %}
