{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block content %}
<div class="game_ground">
    <div>
        <h1 style="font-size: 40px;">{{ title }}</h1>

        <h2>Din po채ng: {{ player_points }}</h2>
        <h2>Bankens po채ng: {{ bank_points }}</h2>

        <form method="post" class="game_buttons">
            {% if game_end == false %}
                <div><input type="submit" name="draw" value="Draw"></div>
                {% if player_hand_points != 0 %}
                    <div><input type="submit" name="stop" value="Stop"></div>
                {% endif %}
            {% endif %}
            {% if game_end == true %}
                <div><input type="submit" name="new_round" value="New round"></div>
            {% endif %}
            <div><input type="submit" name="reset" value="Reset Game"></div>
        </form>
    </div>

    <div>
        <h1 style="font-size: 50px;">{{ include('block/flash-message.html.twig') }}</h1>
        {% if player_hand_points != 0 %}
            <h2>Dina kortpo채ng: {{ player_hand_points }}</h2>
        {% endif %}

        <div>
            <div>
                {% for card in player_hand %}
                    <i class="card-sprite {{ card.colour }}{{ card.rank }}"></i>
             {% endfor %}
            </div>
        </div>

        {% if bank_hand_points != 0 %}
            <h2>Bankens kortpo채ng: {{ bank_hand_points }}</h2>
        {% endif %}

        <div>
            <div>
                {% for card in bank_hand %}
                    <i class="card-sprite {{ card.colour }}{{ card.rank }}"></i>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}