{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block content %}

<div class="main">
    <h1 style="text-align: center;">{{ title }}</h1><br>

    <div class="books_container">
        {% for book in books %}
            <div class="book_item">
                <img src="{{ book.image }}">
                <h4>{{ book.title }}</h4>
                <p>{{ book.author }}</p>
                <p>ISBN: {{ book.ISBN }}</p>
            </div>
        {% endfor %}
    </div><br><br>

    <div style="text-align: center;"><a class="input_book_submit" role="button" href="{{ link_to_create_book }}">Lägg till bok</a></div>
</div>

{% endblock %}
