{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}

<div class="main">
    <h1 style="text-align: center;">{{ book.title }}</h1><br>

    <div class="books_container" style="justify-content: center;">
        <div class="book_item">
            <a href="{{ path('book_by_id', {id: book.id}) }}">
                {% if book.image == null %}
                    <img src="{{ asset("img/no_image.JPG") }}">
                {% endif %}
                <img src="{{ book.image }}">
                <h4>{{ book.title }}</h4>
                <p>{{ book.author }}</p>
                <p>ISBN: {{ book.ISBN }}</p>
            </a>
        </div>
    </div><br><br>

    <div class="update_delete_buttons">
        <div style="text-align: center;"><a id="library_button" class="blue_button" href="{{ path('book_update', {id: book.id}) }}">Uppdatera bok</a></div>
        <div style="text-align: center;"><a id="library_button" class="red_button" href="{{ path('book_delete_by_id', {id: book.id}) }}">Radera bok</a></div>
    </div>
</div>

{% endblock %}
