{% extends 'base.html.twig' %}

{% block title %}Update book{% endblock %}

{% block content %}

<div class="main" style="text-align: center;">
    <h1>{{ title }}</h1><br>

<form class="form_book" method="post">
    <p>
        <input type="hidden" name="id" value="{{ book.id }}" Required><br><br>
    </p>
    <p>
        <label><b>Titel</b></label><br>
        <input class="input_book" type="text" name="title" value="{{ book.title }}" Required><br><br>
    </p>
    <p>
        <label><b>Författare</b></label><br>
        <input class="input_book" type="text" name="author" value="{{ book.author }}" Required><br><br>
    </p>
    <p>
        <label><b>ISBN (13 siffror)</b></label><br>
        <input class="input_book" type="string" minlength="13" maxlength="13" name="ISBN" value="{{ book.isbn }}" Required><br><br>
    </p>
    <p>
        <label><b>Webbadress till bild</b></label><br>
        <input class="input_book" type="url" name="Image" value="{{ book.image }}"><br><br>
    </p>
    <p>
        <input id="library_button" type="submit" value="Update">
    </p>
</form>

</div>
{% endblock %}