<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>

</head>
<body>
    <div class="grid wrapper">
        <div class="grid siteheader">
            <a href="https://github.com/vincentwistrand/mvc_report.git"class="githublink">My GitHub</a>
            <h1 class="head">Objektorienterade webbteknologier</h1>
            <h2 class="head2">Vincent Wistrand viai20</h2>
            <div class="navbar">
                <nav>
                   <a href="{{ url("home") }}" {% if app.request.pathinfo == "/" %}class="active"{% endif %}>Home</a>
                   <a href="{{ path("report") }}" {% if app.request.pathinfo == "/report" %}class="active"{% endif %}>Report</a>
                   <a href="{{ path("about") }}" {% if app.request.pathinfo == "/about" %}class="active"{% endif %}>About</a>
                   <a href="{{ path("debug") }}" {% if app.request.pathinfo == "/dev/debug" %}class="active"{% endif %}>Debug</a>
                   <a href="{{ path("card") }}" {% if app.request.pathinfo == "/card" %}class="active"{% endif %}>Card</a>
                </nav>
            </div>
        </div>

        <div class="main">
            {% block content %}
                Default content
            {% endblock %}
        </div>

        <div class="sitefooter">
            <div class="foot">Copyright @ viai20</div>
        </div>
    </div>
</body>
</html>
