{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}

<div class="main">

    {% apply markdown_to_html %}
    # Report
    {% endapply %}

    {{ include('reports/kmom01.markdown.twig')|markdown_to_html }}
    {{ include('reports/kmom02.markdown.twig')|markdown_to_html }}
    {{ include('reports/kmom03.markdown.twig')|markdown_to_html }}
    {{ include('reports/kmom04.markdown.twig')|markdown_to_html }}
    {{ include('reports/kmom05.markdown.twig')|markdown_to_html }}
    {{ include('reports/kmom06.markdown.twig')|markdown_to_html }}
    {{ include('reports/kmom10.markdown.twig')|markdown_to_html }}

</div>

{% endblock %}
