{% extends 'pokerbase.html.twig' %}

{% block title %}All users{% endblock %}

{% block content %}

<div class="poker_user">
    <div class="poker_user_container">
        <a href="{{ path('pokergame') }}">Spela</a><br><br>
        <a href="{{ path('poker_user_by_id', {userId: current_user.id}) }}">Mitt konto</a><br><br>
        {% if current_user.type == 'admin' %}
            <a href="{{ path('poker_user') }}">Alla konton</a><br><br>
        {% endif %}
        <a href="{{ path('logout_poker') }}">Logga ut</a><br><br>
    </div><br><br>
    <h1 style="text-align: center; color: white;">{{ title }}</h1>
    <p style="text-align: center; color: white;">Inloggad som {{ current_user.getName }} ({{ current_user.getType }})</p><br><br>

    <div class="user_container" style="text-align: center; justify-content: center;">
        {% for user in users %}
            <div class="user_item" style="border">
                <a href="{{ path('poker_user_by_id', {userId: user.id}) }}">
                    {% if user.picture == null %}
                        <img src="{{ asset("img/no_image.JPG") }}">
                    {% endif %}
                    {% if user.picture %}
                        <img src="{{ user.picture }}" width="150px" height="150px">
                     {% endif %}
                    <p style="color: white;">{{ user.username }}</p>
                </a>
            </div>
        {% endfor %}
    </div><br><br><br>

    <div style="text-align: center; margin-left: 400px;"><a id="poker_user_button" href="{{ link_to_create_user }}">Skapa användare</a></div>
</div>

{% endblock %}