{% extends 'pokerbase.html.twig' %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}

<div class="poker_user">

    <div class="poker_user_container">
        <a href="{{ path('pokergame') }}">Spela</a><br><br>
        <a href="{{ path('poker_user_by_id', {userId: user.id}) }}">Mitt konto</a><br><br>
        {% if user.type == 'admin' %}
            <a href="{{ path('poker_user') }}">Alla konton</a><br><br>
        {% endif %}
        <a href="{{ path('logout_poker') }}">Logga ut</a><br><br>
    </div><br><br>
    <h1 style="text-align: center; color: white;">{{ user.name }}</h1><br>

    <div class="user_container" style="justify-content: center;">
        <div class="poker_user_item">
            {% if user.picture == null %}
                <img src="{{ asset("img/no_image.JPG") }}">
            {% endif %}
            {% if user.picture %}
                <img src="{{ user.picture }}" width="150px" height="150px">
            {% endif %}
            <div style="text-align: left;">
                <p><b>Användarnamn:</b> {{ user.username }}</p>
                <p><b>Namn:</b>         {{ user.name }}</p>
                <p><b>Email:</b>        {{ user.email }}</p>
                <p><b>Behörighet:</b>   {{ user.type }}</p>
                <p><b>Pengar:</b>       {{ user.money }}$</p>
                <p><b>Vinster:</b>      {{ user.wins }}</p>
            </div>
        </div>
    </div><br><br>

    <div style="margin-left: 400px;">
        <div style="text-align: center;"><a id="poker_user_button" class="poker_blue_button" href="{{ path('poker_user_update', {userId: user.id}) }}">Uppdatera användare</a></div>
    {% if user.username != 'admin' %}
        <div style="text-align: center;"><a id="poker_user_button" class="poker_red_button" href="{{ path('poker_user_delete_by_id', {userId: user.id}) }}">Radera användare</a></div>
    {% endif %}
    </div>
    
</div>

{% endblock %}